body {
  margin: 0;
  padding: 0;

  /* Created with https://www.css-gradient.com */
  background: -webkit-linear-gradient(top left, rgba(53, 77, 121, 1), rgba(35, 155, 113, 1));
  
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.button{
  cursor: pointer;
}

